<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbBBu17of-TDnjqGHNz7m-PscexHy8_94</string>
	<key>GCM_SENDER_ID</key>
	<string>220656551479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.varificationtrail2</string>
	<key>PROJECT_ID</key>
	<string>otpt2-c21dd</string>
	<key>STORAGE_BUCKET</key>
	<string>otpt2-c21dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220656551479:ios:c4d42cc88331322ce721b2</string>
</dict>
</plist>